.body {
    padding-inline: 130px;
}

.postImg {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.commentImg {
    position: relative;
}

.commentSection {
    padding-inline: 30px;
}

.content {
    padding: 20px;
}

.skeletonTitle {
    width: 95%;
    height: 80px;
    margin-top: 15px;
}

@media screen and (max-width: 992px) {

    .body {
        padding-inline: 0;
    }

    .content {
        padding: 5px;
    }

    .commentSection {
        padding-inline: 10px;
    }
}