@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    max-height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.wrapper {
    background-color: #212529;
    border-radius: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    padding-inline: 20px;
}

.body {
    padding-block: 20px;
    padding-inline: 10px;
    max-height: 75vh;
}

.footer {
    padding: 20px;
}

#addBtn {
    position: fixed;
    bottom: 6%;
    right: 6%;
    width: 55px;
    height: 55px;
    background-color: var(--yellow) !important;
    border-radius: 50%;
    line-height: 1px;
    color: var(--bg-dark);
    font-size: 1.8rem;
    font-family: "Playfair Display";
    box-shadow: 0 3px 8px rgba(17, 6, 22, 0.2);
    z-index: 3;
}