:root {
    --bg-dark: #110616;
    --bg-mid: #f41afd;
    --bg-soft: #2d2a3f;
    --bg-light: rgba(45, 42, 63, 0.5);
    --txt-light: #DEE2E6;
    --txt-soft: #AEAEAE;
    --yellow: #FFC107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(130deg, rgba(28, 11, 36, 1) 0%, rgba(33, 18, 60, 1) 60%, rgba(62, 30, 64, 1) 100%) !important;
    color: var(--txt-light) !important;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.img-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.brandsContainer {
    position: relative;
    width: 100%;
    height: 60px;
}

.brands {
    opacity: 0.75;
}

.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
}

.txt-color-mid {
    color: var(--bg-mid)
}

.txt-color-soft {
    color: var(--txt-soft);
}

.txt-color-yellow {
    color: #ffeaac;
}

.txt-weight-mid {
    font-weight: 600;
}

.txt-weight-normal {
    font-weight: 500;
}

.txt-weight-light {
    font-weight: 300;
}

.txt-size-lg {
    font-size: 5rem;
}

.txt-size-md {
    font-size: 14px;
}

.txt-size-sm {
    font-size: 12px;
}

.txt-size-xs {
    font-size: 10px;
}

.btns {
    /* border-radius: 10px;
    padding: 10px 15px;
    color: var(--txt-light);
    text-decoration: none;
    background-color: white; */
    transition: color 0.2s linear;
}

.primary-btn {
    color: var(--txt-light) !important;
    background: linear-gradient(90deg, rgba(213, 26, 253, 1) 0%, rgba(246, 1, 181, 1) 100%);
    border: 1px solid var(--bg-mid);
}

.primary-btn:hover {
    color: var(--bg-soft) !important;
}

.secondary-btn {
    color: var(--txt-light) !important;
    background: transparent;
    border: 1px solid var(--txt-light) !important;
}

.secondary-btn:hover {
    color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.primary-btn:disabled,
.secondary-btn:disabled {
    opacity: 0.7;
}

#githubBtn {
    width: 100%;
    background-color: black;
    border: none;
    color: var(--txt-light);
}

#github:hover {
    color: var(--bg-mid);
}

.dropdown-menu {
    min-width: auto !important;
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--bg-mid);
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 3px;
    background-color: var(--bg-mid);
    transition: width 0.2s;
}

.link:hover::after {
    width: 100%;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.portfolio {
    color: var(--txt-soft);
    text-decoration: none;
    transition: color 0.3s ease;
}

.portfolio:hover {
    color: var(--bg-mid);
}

.inputForm,
.postBody,
.createForm {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.postBody {
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(3px) saturate(150%);
    border: none;
    border-radius: 13px;
}

.inputForm input,
.contactForm input,
.contactForm textarea,
.commentForm input,
.commentForm textarea,
.form-control.commentBox {
    background-color: rgba(255, 255, 255, 0.1);

}

.inputForm input:focus,
.contactForm input:focus,
.contactForm textarea:focus,
.commentForm textarea:focus,
.commentForm input {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.toolbarBtn {
    color: var(--txt-soft);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.toolbarBtn:disabled {
    opacity: 0.2;
}

.bg-mid {
    background-color: var(--bg-mid);
}

.toolbarIcon {
    height: 1rem;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror {
    height: calc(100vh - 500px);
    overflow-y: auto;
}

#commentProse {
    height: 100px;
}

.autoHeight {
    height: auto;
}

@media screen and (max-width: 768px) {
    .img-container {
        width: 430px;
        height: 430px;
    }

    .txt-size-lg {
        font-size: 4.5rem;
    }

    .ProseMirror {
        min-height: calc(100vh - 600px);
    }
}


@media screen and (max-width: 500px) {
    .img-container {
        width: 350px;
        height: 350px;
    }

    .txt-size-lg {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 400px) {
    .txt-size-lg {
        font-size: 3.3rem;
    }
}